li{
	list-style: none;
}

.movieCard{
	display: inline-block;
	margin-right: 20px;
}

.searchText {
	margin: 0 10px;
}

 .btn-filter {
  	width: 187px;
  }

 .search-filter-row {
 	justify-content: center;
 	margin: 10px 0;
 }
